@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    text-align: center;
    color: white;
    background-color: black;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header  a, footer  a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header  a:hover, footer  a:hover {
    text-decoration: underline;

}

footer {
    text-align: center;
    color: white;
    background-color: black;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    color: white;
    background-color: gray;
}

.imagem > p {
    width: 400px;
    background-color: rgba(85, 82, 82, 0.384);
}