body {
    background-color: black ;
}
#conteiner {
    position: relative;
    height: 96vh;

    border: 2px solid black;

    background-color: black;
    background-image: url(imagens/espaco.jpg);
    background-size: 100% 100%;
    background-position: center center;

}

#conteudo {
    position: absolute;

    height: 78vh;
    width: 40vw;

    border: 2px solid red;

    background-image: url(imagens/astronauta.png);
    background-size: 100% 100%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}